@fooHeight: 164px;
@imgSize: 180px;

.footer{
  width: 100%;
  height: @fooHeight;
  color: white;
  background-image: linear-gradient(90deg, 
		#3a1884 0%, 
		#5e2ab1 100%);
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  &-container {
    display: flex;
    

    width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
  }

  &-lottery{
    background-color: rgb(121, 121, 123)
  }

  &-qrcode{
    width: @fooHeight;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &-img{
      width: @imgSize;
      height: @imgSize;
    }
  }

  &-leftContent{
    // display: flex;
    // flex-direction: column;
    // justify-content: space-around;
    // align-items: center;
    .footer-aelfImg{
      width: 80px;
    }

    .footer-introduce{
      font-size: 10px;
      letter-spacing: 1.5px;
      margin-top: 5px;
    }
  }

  &-rightContent{
    display: flex;
    align-items: center;

    .footer-contact{
      font-size: 13px;
    }

    .footer-icon{
      margin: 0 10px;
      cursor: pointer;
      color: white;
      font-size: 24px;
    }
  }

  .copyright-contaniner {
    text-align: center;
    margin: 16px 0 0 0;
  }
}

@publicNumberSize: 100px;
.footer-publicNumber{
  padding: 0;
  width: @publicNumberSize;
  height: @publicNumberSize;
}

.ant-popover-inner-content{
  padding: 0;
}

@media(min-width: 768px) and (max-width: 1024px) {
  .footer {
    justify-content: center;
    flex-direction: column;

    &-aelfImg {
      display: none;
    }
  }
}

@media(max-width: 768px) {
  .footer {
    justify-content: center;
    &-leftContent {
      display: none;
    }

    &-contact {
      display: none;
    }


    &-rightContent {
      justify-content: center;
    }
  }
}
